<f:comment><!--

    @param FileReference image      Image (required)
    @param string cropVariant       Image crop variant (see pageTsConfig TCEFORM.sys_file_reference_crop)
    @param string alternative       Alternative image text
    @param string link              Link
    @param string class             Additional CSS class
    @param string content           HTML Content (required)
    @param string itemtype          schema.org itemtype
    @param int tabindex             Tab index
    @param int maxWidth             Max. Image width

--></f:comment>
<html xmlns:f="https://xsd.helhum.io/ns/typo3/cms-fluid/master/ViewHelpers" data-namespace-typo3-fluid="true">
    <f:spaceless>
        <f:render section="VerticalTransparent" arguments="{_all}"/>

        <f:comment><!--

            Vertical card with transparent background

        --></f:comment>
        <f:section name="VerticalTransparent">
            <figure class="Card Card--vertical Card--vertical-transparent {class}" itemprop="item" itemscope
                    itemtype="{f:if(condition:'{itemtype}', then:'http://schema.org/{itemtype}', else: 'http://schema.org/Thing')}">
                <f:render section="Common" arguments="{_all}"/>
            </figure>
        </f:section>

        <f:comment><!--

            Vertical card with opaque background (and padding)

        --></f:comment>
        <f:section name="VerticalOpaque">
            <figure class="Card Card--vertical Card--vertical-opaque {class}" itemprop="item" itemscope
                    itemtype="{f:if(condition:'{itemtype}', then:'http://schema.org/{itemtype}', else: 'http://schema.org/Thing')}">
                <f:render section="Common" arguments="{_all}"/>
            </figure>
        </f:section>

        <f:comment><!--

            Horizontal card with opaque background (and padding)

        --></f:comment>
        <f:section name="HorizontalOpaque">
            <figure class="Card Card--horizontal Card--horizontal-opaque {class}" itemprop="item" itemscope
                    itemtype="{f:if(condition:'{itemtype}', then:'http://schema.org/{itemtype}', else: 'http://schema.org/Thing')}">
                <f:render section="Common" arguments="{_all}"/>
            </figure>
        </f:section>

        <f:comment><!--

            Common card markup

        --></f:comment>
        <f:section name="Common">
            <f:spaceless>
                <f:render section="Image" arguments="{_all}"/>
                <f:render section="Content" arguments="{_all}"/>
            </f:spaceless>
        </f:section>

        <f:comment><!--

            Image

        --></f:comment>
        <f:section name="Image">
            <f:variable name="inlineStyle" value="{tabindex: '{tabindex}'}"/>
            <f:variable name="useCropVariant" value="{f:if(condition: cropVariant, then: cropVariant, else: 'card')}"/>
            <f:if condition="{image}">
                <f:variable name="imageUri"
                            value="{base:uri.image(image: image, cropVariant: useCropVariant, maxWidth: maxWidth)}"/>
                <f:variable name="inlineStyle" value="{
                        tabindex: '{tabindex}',
                        style: 'background-image:url({imageUri});background-size:cover',
                        aria-label: alternative
                    }"/>
            </f:if>
            <f:if condition="{link}">
                <f:then>
                    <f:link.typolink parameter="{link}" class="Card__image" additionalAttributes="{inlineStyle}">
                        <f:if condition="{image}">
                                <base:image class="hide-element" image="{image}" cropVariant="{useCropVariant}"
                                            maxWidth="{maxWidth}"/>
                        </f:if>
                    </f:link.typolink>
                </f:then>
                <f:else>
                    <div class="Card__image" style="background-image:url({imageUri})">
                        <f:if condition="{image}">
                            <base:image class="hide-element" image="{image}" cropVariant="{useCropVariant}"
                                        maxWidth="{maxWidth}"/>
                        </f:if>
                    </div>
                </f:else>
            </f:if>
        </f:section>

        <f:comment><!--

            Content

        --></f:comment>
        <f:section name="Content">
            <figcaption class="Card__content">
                <f:format.raw>{content}</f:format.raw>
            </figcaption>
        </f:section>
    </f:spaceless>
</html>




