<f:comment><!--

    @param \Tollwerk\TwBlog\Domain\Model\BlogArticle blogArticle       The blog article

--></f:comment>
<html xmlns:f="https://xsd.helhum.io/ns/typo3/cms-fluid/master/ViewHelpers"
      xmlns:base="http://typo3.org/ns/Tollwerk/TwBase/ViewHelpers" data-namespace-typo3-fluid="true">

    <div class="BlogArticle">
        <div class="BlogArticle__content">
            <f:variable name="content" value="{v:content.render(column: 0, pageUid: blogArticle.uid)}"/>
            <f:format.raw>{content}</f:format.raw>
        </div>
        <div class="BlogArticle__meta">
            <f:debug>{blogArticle}</f:debug>
            <ul>
                <f:for each="{blogArticle.authors}" as="author">
                    <li>{author.realName}</li>
                </f:for>
            </ul>
        </div>
    </div>
</html>
