<f:comment><!--

    Render a list of blog posts

    @param string settings.display_mode         Allowed values: default, featured
    @param BlogArticle[] blogArticles           The blog articles
    @param int countAll                         Total number of blog posts
    @param array pagination                     Pagination settings
    @param int offset                           Offset
    @param int uid                              Content element ID

--></f:comment>
<html xmlns:f="https://xsd.helhum.io/ns/typo3/cms-fluid/master/ViewHelpers" data-namespace-typo3-fluid="true">
    <f:spaceless>
        <f:render section="Main" arguments="{_all}"/>

        <f:comment><!--

            Render a list of blog posts

            @param string settings.display_mode         Allowed values: default, featured
            @param BlogArticle[] blogArticles           The blog articles
            @param int countAll                         Total number of blog posts
            @param array pagination                     Pagination settings
            @param int offset                           Offset
            @param int uid                              Content element ID

        --></f:comment>
        <f:section name="Main">
            <ol class="BlogList BlogList--{settings.display_mode}" itemscope itemtype="http://schema.org/ItemList">
                <f:for each="{blogArticles}" as="blogArticle">
                    <li class="BlogListItem BlogListItem--{settings.display_mode}" itemprop="itemListElement" itemscope
                        itemtype="http://schema.org/ListItem">
                        <f:render section="ItemContent--{settings.display_mode}"
                                  arguments="{blogArticle: blogArticle}"/>
                    </li>
                </f:for>
            </ol>
            <f:if condition="{settings.show_pagination}">
                <f:render partial="Elements/Blog/Pagination" arguments="{
                    label: '{f:translate(key:\'LLL:EXT:tw_blog/Resources/Private/Language/locallang.xlf:blog.pagination.aria_label\')}',
                    section: 'c{settings.blog.listContent}',
                    countAll: countAll,
                    pagination: pagination,
                    action: 'list',
                    controller: 'Blog',
                    pluginName: 'Blog',
                    extensionName: 'TwBlog'
                }"/>
            </f:if>
        </f:section>


        <f:comment><!--

            Render the content of a default article

            @param BlogArticle blogArticle              Blog article

        --></f:comment>
        <f:section name="ItemContent--default">
            <div class="BlogListItem BlogListItem--default">

                <div class="BlogListItem__image">
                    <f:if condition="{blogArticle.teaserImage}">
                        <base:image image="{blogArticle.teaserImage}"/>
                    </f:if>
                </div>
                <f:link.page tabindex="-1" pageUid="{blogArticle.uid}" additionalAttributes="{itemprop: 'url'}">
                    <base:heading content="{blogArticle.title}" class="BlogListItem__title"/>
                </f:link.page>
                <p class="BlogListItem__text">
                    <f:format.nl2br>{blogArticle.teaserText}</f:format.nl2br>
                </p>
            </div>
        </f:section>

        <f:comment><!--

            Render the content of a default article

            @param BlogArticle blogArticle              Blog article

        --></f:comment>
        <f:section name="ItemContent--featured">
            <div class="BlogListItem BlogListItem--default">
                <f:link.page tabindex="-1" pageUid="{blogArticle.uid}" additionalAttributes="{itemprop: 'url'}">
                    <base:heading content="{blogArticle.title}" class="BlogList__item-title"/>
                </f:link.page>
            </div>
        </f:section>


    </f:spaceless>
</html>
